fastapi==0.115.8
pydantic==2.10.6
uvicorn==0.38.0
pydantic-settings==2.8.0
sqlalchemy[asyncio]==2.0.35 # Асинхронный SQLAlchemy
asyncpg==0.31.0 # Асинхронный PostgreSQL дравер
alembic==1.18.4 # Миграции БД
psycopg[binary]==3.3.3 # Синхронный PostgreSQL драйвер (для Alembic)